/* cyrillic-ext */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fCRc4EsA.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fABc4EsA.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* latin-ext */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fChc4EsA.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fBBc4.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* cyrillic-ext */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu72xKOzY.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu5mxKOzY.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* latin-ext */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu7GxKOzY.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxK.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */

@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/titilliumweb/v9/NaPDcZTIAOhVxoMyOr9n_E7ffGjEGIVzY4SY.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */

@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/titilliumweb/v9/NaPDcZTIAOhVxoMyOr9n_E7ffGjEGItzYw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */

@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/titilliumweb/v9/NaPecZTIAOhVxoMyOr9n_E7fdM3mDbRS.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */

@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/titilliumweb/v9/NaPecZTIAOhVxoMyOr9n_E7fdMPmDQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 16px;
  font-family: 'Roboto';
  background-color: #ffffff;
}

.container {
  max-width: 1570px;
  padding: 0 15px;
  margin: 0 auto;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

input:focus {
  outline: none;
  border: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  line-height: normal;
}

.nav {
  padding-top: 4rem;
  padding-bottom: 2rem;
}

.nav__list {
  display: -webkit-box;
  display: flex;
}

.nav__item {
  margin-right: 2rem;
}

.nav__item:last-child {
  margin-right: 0;
}

.nav__link {
  position: relative;
  font-size: 11px;
  font-weight: 400;
  color: #45505e;
  letter-spacing: 1px;
  text-transform: uppercase;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.nav__link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 30%;
  height: 1px;
  opacity: 0;
  background-color: #8ed1b7;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.nav__link:hover {
  color: #8ed1b7;
}

.nav__link:hover::after {
  width: 100%;
  opacity: 1;
}

.header {
  padding-top: 2rem;
}

.header .container {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
}

.header__top {
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
}

.header__search {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  cursor: pointer;
}

.header__search img {
  margin-right: 1rem;
  max-width: 100%;
  display: block;
  height: auto;
}

.header__search span {
  letter-spacing: 2px;
  color: #414141;
  font-weight: 400;
  font-size: 11px;
}

.header__logo {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
}

.header__logo img {
  max-width: 60%;
  height: auto;
}

.header__ico {
  display: -webkit-box;
  display: flex;
}

.header__ico .cart__link {
  margin: 0 2rem;
}

.slider {
  margin: 0;
}

.slider__item {
  position: relative;
}

.slider__img img {
  margin: 0 auto;
  display: block;
  max-width: 100%;
  height: auto;
}

.slider__content {
  position: absolute;
  top: 50%;
  left: 40%;
  text-align: left;
  font-family: 'Titillium Web';
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.slider__content h2 {
  line-height: 0;
  font-weight: 400;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 1px;
}

.slider__content h2 span {
  font-weight: 400;
  color: #000000;
  font-size: 50px;
  text-transform: capitalize;
}

.slider__content h3 {
  font-weight: 600;
  font-size: 50px;
  color: #000000;
  text-transform: uppercase;
}

.slider__content h3 span {
  vertical-align: top;
  font-weight: 300;
  font-family: 'Roboto';
  font-size: 24px;
  color: #000000;
}

.slider__content a {
  font-size: 16px;
  font-weight: 300;
  color: #000000;
  font-family: 'Roboto';
  text-decoration: underline;
}

.tabs {
  padding-top: 4rem;
  padding-bottom: 6rem;
}

.tabs .container {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: justify;
          justify-content: space-between;
}

.tabs .container::after {
  content: '';
  position: absolute;
  bottom: -2rem;
  left: 50%;
  width: calc(100% - 30px);
  height: 1px;
  background-color: #e9e9e9;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.tabs__nav-list {
  display: -webkit-box;
  display: flex;
}

.tabs__nav-item {
  margin-right: 2rem;
}

.tabs__nav-item:last-child {
  margin-right: 0;
}

.tabs__nav-link {
  font-size: 11px;
  font-weight: 400;
  color: #45505e;
  text-transform: uppercase;
  font-family: 'Roboto';
  -webkit-transition: color .2s ease-out;
  transition: color .2s ease-out;
}

.tabs__nav-link:hover {
  color: #b5d9cc;
}

.tabs__search {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  cursor: pointer;
}

.tabs__search img {
  margin-right: .7em;
}

.product {
  margin-bottom: 10rem;
}

.product .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-gap: 4rem;
}

.product__item {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border: 1px solid transparent;
  -webkit-transition: border .1s ease-out;
  transition: border .1s ease-out;
}

.product__item:hover {
  border: 1px solid #b5dfe0;
}

.product__item-top {
  display: -webkit-box;
  display: flex;
}

.product__item-options {
  width: 20%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  margin-top: 2rem;
}

.product__item-options img {
  margin: 0 auto 2rem;
  max-width: 100%;
  height: auto;
  align-self: flex-start;
  padding: 0.2rem;
  cursor: pointer;
}

.product__item-img {
  position: relative;
  width: 80%;
}

.product__item-img img {
  max-width: 100%;
  height: auto;
  display: block;
}

.product__item-img-status {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 30px;
  height: 30px;
  font-size: 1rem;
  background-color: aqua;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.product__item-mid {
  position: relative;
  padding: 2rem 1rem;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}

.product__item-mid::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 85%;
  height: 1px;
  background-color: #eeeeee;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.product__item-mid-name {
  font-size: 2.3rem;
  font-family: 'Titillium Web';
  text-transform: capitalize;
  color: #000000;
  font-weight: 300;
}

.product__item-mid-price {
  font-weight: 300;
  font-size: 14px;
  color: #8ed1b7;
  font-family: 'Roboto';
}

.product__item-mid-price span {
  margin-right: 1rem;
  color: #000000;
  -webkit-text-decoration: solid;
          text-decoration: solid;
}

.product__item-low {
  padding: 2rem 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  text-transform: uppercase;
  color: #000000;
  font-weight: 300;
  font-size: 12px;
  cursor: pointer;
  -webkit-transition: color .15s ease-out;
  transition: color .15s ease-out;
}

.product__item-low img {
  margin-right: 1rem;
  display: block;
}

.product__item-low:hover {
  color: #8ed1b7;
}

.big {
  display: -webkit-box;
  display: flex;
  position: relative;
  overflow: hidden;
}

.big__left {
  width: 50%;
  padding-top: 40%;
  margin: 0;
  position: relative;
}

.big__left-price {
  position: absolute;
  bottom: 10%;
  right: 30%;
  width: 250px;
  height: 250px;
  background-color: #e7a8c6;
  border-radius: 50%;
}

.big__left-price-big {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 70px;
  font-weight: 300;
  color: #ffffff;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.big__left-price-big span {
  position: absolute;
  top: -35%;
  right: 0;
  font-weight: 300;
  font-size: 35px;
  color: #000000;
}

.big__right {
  width: 50%;
  padding-top: 40%;
  position: relative;
  background-color: #8ed1b7;
}

.big__right-suptitle {
  position: absolute;
  bottom: 0;
  right: -40px;
  font-size: 13rem;
  color: #86c5ac;
  text-transform: capitalize;
  font-weight: 300;
  letter-spacing: 20px;
  z-index: 4;
}

.big__right-content {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: start;
          align-items: flex-start;
  position: absolute;
  top: 50%;
  left: 0;
  margin-left: 4rem;
  width: 60%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 6;
}

.big__right-content p,
.big__right-content a {
  width: auto;
  display: inline-block;
  background-color: #8ed1b7;
}

.big__right-name {
  margin-bottom: 0.5rem;
  font-size: 12px;
  font-weight: 300;
  color: #ffffff;
  text-transform: uppercase;
  font-family: 'Roboto';
}

.big__right-info {
  margin-bottom: 4rem;
  font-family: 'Titillium Web';
  font-size: 23px;
  font-weight: 300;
  color: #000000;
}

.big__right-text {
  margin-bottom: 4rem;
  font-weight: 300;
  font-size: 14px;
  color: #ffffff;
  font-family: 'Roboto';
  line-height: 22px;
}

.big__right-link {
  font-weight: 300;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: underline;
  color: #ffffff;
  font-family: 'Roboto';
}

.big__right-dot {
  position: absolute;
  top: 50%;
  left: -10%;
  max-width: 45%;
  height: auto;
  display: block;
  z-index: -1;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.big__right-saw {
  position: absolute;
  top: 50%;
  right: 0;
  max-width: 65%;
  height: auto;
  display: block;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 5;
}

.big__right-vertical {
  position: absolute;
  left: -200px;
  top: 50%;
  text-transform: capitalize;
  font-family: 'Titillium Web';
  font-weight: 300;
  font-size: 23px;
  color: #000000;
  letter-spacing: 15px;
  -webkit-transform: translateY(-50%) rotate(-90deg);
          transform: translateY(-50%) rotate(-90deg);
}

.service {
  display: -webkit-box;
  display: flex;
}

.service__block {
  width: 25%;
  padding: 3rem 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  background-color: #1d1e24;
}

.service__block:nth-child(2n) {
  background-color: #202127;
}

.service__block-icon {
  margin-bottom: 2rem;
}

.service__block-icon img {
  max-width: 60%;
  margin: 0 auto;
  height: auto;
  display: block;
}

.service__block-suptitle {
  margin-bottom: 1rem;
  font-weight: 300;
  font-size: 18px;
  color: #ffffff;
  font-family: 'Titillium Web';
  text-transform: uppercase;
}

.service__block-subtitle {
  font-weight: 300;
  font-size: 14px;
  color: #767676;
  font-family: 'Roboto';
}

.footer {
  padding: 5rem 0 0;
}

.footer__top {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}

.footer__top-col {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  width: 25%;
  padding-right: 4rem;
}

.footer__top-col:last-child {
  padding-right: 0;
}

.footer__top-col-info-logo {
  margin-bottom: 1rem;
  max-width: 50%;
  height: auto;
}

.footer__top-col-info-text {
  margin-bottom: 3rem;
  font-weight: 300;
  font-family: 'Roboto';
  font-size: 13px;
  color: #7b7c85;
  line-height: 20px;
}

.footer__top-col-info-more {
  font-weight: 3000;
  font-family: 'Roboto';
  font-size: 12px;
  color: #7b7c85;
}

.footer__top-col-info-more span {
  text-transform: capitalize;
}

.footer__top-col-nav-title {
  margin-bottom: 2rem;
  font-weight: 400;
  font-family: 'Titillium Web';
  font-size: 18px;
  color: #000000;
  text-transform: capitalize;
}

.footer__top-col-nav-wrap {
  display: -webkit-box;
  display: flex;
}

.footer__top-col-nav-list {
  margin-right: 3rem;
}

.footer__top-col-nav-list:last-child {
  margin-right: 0;
}

.footer__top-col-nav-item {
  margin-bottom: 2rem;
}

.footer__top-col-nav-link {
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 12px;
  color: #7b7c85;
  text-transform: capitalize;
}

.footer__top-col-social-icon {
  margin-bottom: 2rem;
}

.footer__top-col-social-post {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  grid-gap: .5rem;
}

.footer__top-col-social-post a {
  margin: 0;
  padding: 0;
}

.footer__top-col-social-post img {
  display: block;
  max-width: 100%;
  height: auto;
  display: block;
}

.footer__low {
  margin-top: 15rem;
  margin-bottom: 2rem;
}

.footer__low .container {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
}

.nav {
  padding-top: 4rem;
  padding-bottom: 2rem;
}

.nav__list {
  display: -webkit-box;
  display: flex;
}

.nav__item {
  margin-right: 2rem;
}

.nav__item:last-child {
  margin-right: 0;
}

.nav__link {
  position: relative;
  font-size: 11px;
  font-weight: 400;
  color: #45505e;
  letter-spacing: 1px;
  text-transform: uppercase;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.nav__link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 30%;
  height: 1px;
  opacity: 0;
  background-color: #8ed1b7;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.nav__link:hover {
  color: #8ed1b7;
}

.nav__link:hover::after {
  width: 100%;
  opacity: 1;
}

.nav {
  padding-top: 4rem;
  padding-bottom: 2rem;
}

.nav__list {
  display: -webkit-box;
  display: flex;
}

.nav__item {
  margin-right: 2rem;
}

.nav__item:last-child {
  margin-right: 0;
}

.nav__link {
  position: relative;
  font-size: 11px;
  font-weight: 400;
  color: #45505e;
  letter-spacing: 1px;
  text-transform: uppercase;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.nav__link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 30%;
  height: 1px;
  opacity: 0;
  background-color: #8ed1b7;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.nav__link:hover {
  color: #8ed1b7;
}

.nav__link:hover::after {
  width: 100%;
  opacity: 1;
}

.nav {
  padding-top: 4rem;
  padding-bottom: 2rem;
}

.nav__list {
  display: -webkit-box;
  display: flex;
}

.nav__item {
  margin-right: 2rem;
}

.nav__item:last-child {
  margin-right: 0;
}

.nav__link {
  position: relative;
  font-size: 11px;
  font-weight: 400;
  color: #45505e;
  letter-spacing: 1px;
  text-transform: uppercase;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.nav__link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 30%;
  height: 1px;
  opacity: 0;
  background-color: #8ed1b7;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.nav__link:hover {
  color: #8ed1b7;
}

.nav__link:hover::after {
  width: 100%;
  opacity: 1;
}

.nav {
  padding-top: 4rem;
  padding-bottom: 2rem;
}

.nav__list {
  display: -webkit-box;
  display: flex;
}

.nav__item {
  margin-right: 2rem;
}

.nav__item:last-child {
  margin-right: 0;
}

.nav__link {
  position: relative;
  font-size: 11px;
  font-weight: 400;
  color: #45505e;
  letter-spacing: 1px;
  text-transform: uppercase;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.nav__link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 30%;
  height: 1px;
  opacity: 0;
  background-color: #8ed1b7;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.nav__link:hover {
  color: #8ed1b7;
}

.nav__link:hover::after {
  width: 100%;
  opacity: 1;
}

.nav {
  padding-top: 4rem;
  padding-bottom: 2rem;
}

.nav__list {
  display: -webkit-box;
  display: flex;
}

.nav__item {
  margin-right: 2rem;
}

.nav__item:last-child {
  margin-right: 0;
}

.nav__link {
  position: relative;
  font-size: 11px;
  font-weight: 400;
  color: #45505e;
  letter-spacing: 1px;
  text-transform: uppercase;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.nav__link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 30%;
  height: 1px;
  opacity: 0;
  background-color: #8ed1b7;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.nav__link:hover {
  color: #8ed1b7;
}

.nav__link:hover::after {
  width: 100%;
  opacity: 1;
}

@media (max-width: 1600px) {
  .container {
    max-width: 1440px;
    padding: 0 15px;
    margin: 0 auto;
  }

  .big__left-price {
    right: 25%;
    width: 200px;
    height: 200px;
  }

  .big__left-price-big {
    font-size: 55px;
  }

  .big__left-price-big span {
    right: 0;
    font-size: 30px;
  }
}

@media (max-width: 1440px) {
  .container {
    max-width: 1280px;
    padding: 0 15px;
    margin: 0 auto;
  }
}

@media (max-width: 1366px) {
  .container {
    max-width: 1024px;
    padding: 0 15px;
    margin: 0 auto;
  }

  .slider__content h2 {
    font-size: 25px;
  }

  .slider__content h2 span {
    font-size: 45px;
  }

  .slider__content h3 {
    font-size: 45px;
  }

  .slider__content h3 span {
    font-size: 20px;
  }

  .big__left-price {
    width: 150px;
    height: 150px;
  }

  .big__left-price-big {
    font-size: 45px;
  }

  .big__left-price-big span {
    right: 5px;
    top: -30%;
    font-size: 20px;
  }

  .big__right-suptitle {
    font-size: 12rem;
    top: 5px;
  }
}

@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
    padding: 0 15px;
    margin: 0 auto;
  }

  .big__left-price {
    right: 30%;
    width: 120px;
    height: 120px;
  }

  .big__left-price-big {
    font-size: 35px;
  }

  .big__left-price-big span {
    top: -32%;
    right: 3px;
    font-size: 18px;
  }

  .big__right-suptitle {
    top: 5px;
    right: -20px;
    font-size: 9rem;
  }

  .big__right-content {
    width: 70%;
  }

  .big__right-info {
    margin-bottom: 2rem;
  }

  .big__right-text {
    margin-bottom: 3rem;
  }
}

@media (max-width: 1024px) {
  .container {
    max-width: 992px;
    padding: 0 15px;
    margin: 0 auto;
  }

  .slider__content h2 span {
    font-size: 40px;
  }

  .slider__content h3 {
    font-size: 40px;
  }

  .slider__content h3 span {
    font-size: 18px;
  }

  .product {
    margin-bottom: 5rem;
  }

  .product .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-gap: 2rem;
  }

  .big__left-price {
    width: 100px;
    height: 100px;
  }

  .big__left-price-big {
    font-size: 30px;
  }

  .big__left-price-big span {
    top: -22%;
    font-size: 12px;
  }

  .big__right-suptitle {
    right: 0;
    top: 20px;
    font-size: 7rem;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 1570px;
    padding: 0 15px;
    margin: 0 auto;
  }

  .slider__content h2 span {
    font-size: 30px;
  }

  .slider__content h3 {
    font-size: 30px;
  }

  .slider__content h3 span {
    font-size: 15px;
  }

  .footer {
    padding: 5rem 1.5rem 0;
  }

  .footer__top {
    -webkit-box-pack: justify;
            justify-content: space-between;
  }

  .footer__top-col {
    padding-right: 0;
  }

  .footer__top-col-social-post {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer__top-col-social-post img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .footer__low {
    margin-top: 8rem;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 1570px;
    padding: 0 15px;
    margin: 0 auto;
  }

  .header__logo img {
    max-width: 50%;
  }

  .nav {
    padding: 2rem 0;
  }

  .slider {
    position: relative;
    overflow: hidden;
  }

  .slider__img {
    height: 50vh;
  }

  .slider__img img {
    margin: 0 auto;
    display: block;
    max-width: 250%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .slider__content h2 {
    margin-bottom: 1rem;
  }

  .slider__content h3 span {
    vertical-align: middle;
  }

  .product {
    margin-bottom: 5rem;
  }

  .product .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    grid-gap: 2rem;
  }

  .big {
    display: -webkit-box;
    display: flex;
  }

  .big__left {
    width: 100%;
    position: absolute;
  }

  .big__left-price {
    bottom: 20px;
    right: 20px;
    width: 80px;
    height: 80px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    z-index: 99;
  }

  .big__left-price-big {
    font-size: 25px;
  }

  .big__left-price-big span {
    position: absolute;
    top: -20%;
    font-size: 10px;
  }

  .big__right {
    width: 100%;
    padding-top: 40%;
    position: relative;
    background-color: #8ed1b7;
  }

  .big__right-suptitle {
    display: none;
  }

  .big__right-content {
    margin-left: 2rem;
    width: 70%;
  }

  .big__right-info {
    margin-bottom: 1rem;
  }

  .big__right-text {
    margin-bottom: 2rem;
  }

  .big__right-dot {
    display: none;
  }

  .big__right-saw {
    z-index: 4;
  }

  .big__right-vertical {
    display: none;
  }

  .service {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
  }

  .service__block {
    width: 50%;
    padding: 2rem 0;
  }

  .service__block:nth-child(2n) {
    background-color: #1d1e24;
  }

  .service__block-icon {
    margin-bottom: 1rem;
  }

  .service__block-icon img {
    max-width: 50%;
  }

  .footer {
    padding: 5rem 1.5rem 0;
  }

  .footer__top {
    display: block;
  }

  .footer__top-col {
    width: 100%;
    margin-bottom: 2rem;
  }

  .footer__top-col-info {
    width: 70%;
    margin: 0 auto;
  }

  .footer__top-col-info-logo {
    max-width: 15%;
  }

  .footer__top-col-nav {
    width: 70%;
    margin: 0 auto;
  }

  .footer__top-col-nav-list {
    margin-right: 8rem;
  }

  .footer__top-col-social {
    width: 70%;
    margin: 0 auto;
  }

  .footer__top-col-social-post {
    grid-template-columns: repeat(4, 1fr);
  }

  .footer__top-col-social-post img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .footer__low {
    margin-top: 8rem;
  }
}

@media (max-width: 650px) {
  .container {
    max-width: 1570px;
    padding: 0 15px;
    margin: 0 auto;
  }

  .service {
    display: -webkit-box;
    display: flex;
  }

  .service__block {
    width: 100%;
    padding: 1.5rem 0;
  }

  .footer__top-col-info-logo {
    max-width: 20%;
  }
}

@media (max-width: 500px) {
  .container {
    max-width: 1570px;
    padding: 0 15px;
    margin: 0 auto;
  }

  .header {
    padding-bottom: 2rem;
  }

  .nav {
    display: none;
  }

  .tabs {
    padding-bottom: 4rem;
    padding-top: 2rem;
  }

  .tabs .container::after {
    bottom: -1rem;
  }

  .product {
    margin-bottom: 4rem;
  }

  .product .container {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 4rem;
  }

  .big__left {
    padding-top: 60%;
  }

  .big__left-price {
    bottom: 10px;
    width: 60px;
    height: 60px;
  }

  .big__left-price-big {
    font-size: 18px;
  }

  .big__left-price-big span {
    top: -40%;
    font-size: 10px;
  }

  .big__right {
    padding-top: 60%;
  }

  .big__right-content {
    margin: 0;
    padding: 0 2rem;
    width: 100%;
  }

  .big__right-info {
    margin-bottom: 1rem;
  }

  .big__right-text {
    margin-bottom: 2rem;
  }

  .footer__top-col-info-logo {
    max-width: 30%;
  }
}

@media (max-width: 400px) {
  .header__ico .user__link,
  .header__ico .cart__link {
    display: none;
  }

  .slider__content {
    width: 100%;
    left: 60%;
    margin: 0 auto;
  }

  .tabs__nav {
    display: none;
  }

  .big__left {
    padding: 2rem 0;
    padding-top: 100%;
  }

  .big__right {
    padding: 2rem 0;
    padding-top: 100%;
  }

  .footer {
    padding: 5rem 1.5rem 0;
  }

  .footer__top-col {
    width: 100%;
  }

  .footer__top-col-info {
    width: 100%;
  }

  .footer__top-col-nav {
    width: 100%;
  }

  .footer__top-col-social {
    width: 100%;
  }

  .footer__low {
    margin-top: 8rem;
  }
}